<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">

<head>
    <title>Layout</title>
</head>


<body>
    <!-- Begin Page Content -->
    <div class="container justify-content-center" layout:fragment="content">
        <!-- Page Heading -->
        <h1 class="text-info">
            Nhập Nhân Viên Mới
        </h1>
        <!-- Content Row -->
        <div class="row">
            <form action="#" th:action="@{/inputstaff}" th:object="${staff}" method="post" class="form-group">
                <table>
                    <tr>
                        <th style="text-align:right">Id: </th>
                        <th><input type="text" th:field="*{id}" class="form-control" placeholder="Nhập vào ID" required/></th>
                    </tr>
                    <tr>
                        <th style="text-align:right">First Name: </th>
                        <th><input type="text" th:field="*{firstname}" class="form-control" placeholder="Nhập họ lót" required></th>
                    </tr>
                    <tr>
                        <th style="text-align:right">Last Name: </th>
                        <th><input type="text" th:field="*{lastname}" class="form-control" placeholder="Nhập tên" required/></th>
                    </tr>
                    <tr>
                        <th style="text-align:right">Gender: </th>
                        <th>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                <input type="radio" value="Male" th:field="*{gender}" class="form-check-input">
                                Male</label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                <input type="radio"  value="Female" th:field="*{gender}" class="form-check-input">
                                Female</label>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th style="text-align:right">Address: </th>
                        <th><input type="text" th:field="*{address}" class="form-control" placeholder="Nhập địa chỉ"/></th>
                    </tr>
                    <tr>
                        <th style="text-align:right">Phone: </th>
                        <th><input type="text" th:field="*{phone}" class="form-control" placeholder="Nhập số điện thoại" required/></th>
                    </tr>
                </table>
                <p></p>
                <p><input type="submit" value="Submit" class="btn btn-primary" /> <input type="reset" value="Reset" class="btn btn-secondary"/></p>
            </form>
        </div>
    </div>


</body>
</html>