<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="../static/index::head">

</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="../static/index::#accordionSidebar"></ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav th:replace="../static/index::#login">
                <a class="nav-item" href="#" id="id" >
                    <span class="fas fa-sign-out-alt mb-4 fa-fw text-white">Logout</span>
                </a>
            </nav>
            <!-- Begin Page Content -->
            <div class=" d-flex justify-content-center">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <form action="#" th:action="@{/inputstaff}" th:object="${staff}" method="post">
                        <table>
                            <tr>
                                <th style="text-align:right">Id: </th>
                                <th><input type="text" th:field="*{id}" /></th>
                            </tr>
                            <tr>
                                <th style="text-align:right">First Name: </th>
                                <th><input type="text" th:field="*{firstname}" /></th>
                            </tr>
                            <tr>
                                <th style="text-align:right">Last Name: </th>
                                <th><input type="text" th:field="*{lastname}" /></th>
                            </tr>
                            <tr>
                                <th style="text-align:right">Gender: </th>
                                <th>
                                    <div class="form-group">
                                        <input type="radio" value="Male" th:field="*{gender}">
                                        <label>Male</label>
                                        <input type="radio"  value="Female" th:field="*{gender}">
                                        <label>Female</label>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th style="text-align:right">Address: </th>
                                <th><input type="text" th:field="*{address}" /></th>
                            </tr>
                            <tr>
                                <th style="text-align:right">Phone: </th>
                                <th><input type="text" th:field="*{phone}" /></th>
                            </tr>
                        </table>
                        <p></p>
                        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
                    </form>
                </div>
                <!-- Content Row -->
                <div class="row">

                </div>
            </div>
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer th:replace="../static/index::footer">

        </footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->


</body>
</html>