<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="../static/index::head">

</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="../static/index::#accordionSidebar"></ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav th:replace="../static/index::#login">
                <a class="nav-item" href="#" id="id" >
                    <span class="fas fa-sign-out-alt mb-4 fa-fw text-white">Logout</span>
                </a>
            </nav>
            <!-- Begin Page Content -->



        </div>

        <!-- End of Main Content -->
        <div class=" d-flex justify-content-center">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">

            </div>
            <!-- Content Row -->
            <div class="row">

            </div>
        </div>

        <!-- Footer -->
        <footer th:replace="../static/index::footer">

        </footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->


</body>
</html>