<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CSS Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<header>
    <h3>Cities</h3>
</header>

<section>
    <nav>
        <ul>
            <li><a href="#">Product</a></li>
            <li><a href="#">Staff</a></li>
            <li><a href="#">Bill</a></li>
        </ul>
    </nav>

    <article>
        <h1>London</h1>
        <p>Standing on the River Thames.</p>
    </article>
</section>

<footer>
    <p>www.hcmulsa.edu.vn</p>
</footer>

</body>
</html>
