<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">

<head>
    <title>Layout</title>
</head>


<body>
    <div class="container" layout:fragment="content">
        <!-- Page Heading -->
        <h1 class="text-info">
            Submit successfully!
        </h1>
        <!-- Content Row -->
        <div class="row">
            <a href="/inputproduct">Submit another product</a>
        </div>
    </div>

       <!-- End of Main Content -->
</body>
</html>