<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">

<head>
    <title>Layout</title>
</head>


<body>
<!-- Begin Page Content -->
    <div class="container" layout:fragment="content">
        <!-- Page Heading -->
        <h1 class="text-info text-center">
            Danh Sách Sản Phẩm
        </h1>
        <!-- Content Row -->
        <div class="row">
            <table id="staffTable", class="table table-bordered table-sm table-striped table-hover">
                <thead class="table-dark">
                <tr>
                    <th style="text-align:center">Id</th>
                    <th style="text-align:left">First Name</th>
                    <th style="text-align:left">Last Name</th>
                    <th style="text-align:center">Gender</th>
                    <th style="text-align:left">Address</th>
                    <th style="text-align:center">Phone</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each ="staff : ${staffs}">
                    <td align="center" th:utext="${staff.id}">...</td>
                    <td align="left" th:utext="${staff.firstname}">...</td>
                    <td align="left" th:utext="${staff.lastname}">...</td>
                    <td align="center" th:utext="${staff.gender}">...</td>
                    <td align="left" th:utext="${staff.address}">...</td>
                    <td align="center" th:utext="${staff.phone}">...</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>